/*///////////////////////// GENERALES /////////////////////////*/

body {
  font-family: 'Poppins', sans-serif;
  color: #432918;
}

* {
  scroll-behavior: smooth;
}

section {
  overflow: hidden !important;
}


a:hover {
  text-decoration: none;
}

.lh-100 {
  line-height: 1;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.btn {
  border-radius: 35px;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
}

.btn-secondary {
  background: #00A19A !important;
  color: #fff;
  border: 2px solid #00A19A !important;
  transition: all ease .25s;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background: #fff !important;
  color: #00A19A !important;
  border: 2px solid #00A19A !important;
  transition: all ease .25s;
  box-shadow: none !important;
}

.primary {
  color: #F9B233 !important;
}

.primary-border {
  border-color: #F9B233 !important;
}

.primary-bg {
  background: #F9B233 !important;
}

.primary-badge {
  background: #F9B233 !important;
  color: white;
}

.secondary {
  color: #00A19A;
}

.secondary-bg {
  background: #00A19A;
}

.secondary-badge {
  background: #00A19A;
  color: white;
}

.green {
  color: #95C11F;
}

.green-bg {
  background-color: #95C11F;
}

.green-badge {
  background-color: #95C11F;
  color: white;
}

.brown {
  color: #432918;
}

.brown-bg {
  background-color: #432918;
}

.gray {
  color: #707070;
}

.light-gray {
  color: #CCCCCC;
}

.light-gray-badge {
  background-color: #CCCCCC;
  color: white;
}

.whatsapp-mobile {
  position: fixed;
  z-index: 700;
  bottom: 1.5rem;
  right: 1.5rem;
  opacity: .9;
  transition: all ease .25s;
}

.whatsapp-mobile {
  width: 56px;
  height: 56px;
}

.whatsapp-mobile:hover {
  opacity: 1;
  transition: all ease .25s;
  transform: scale(1.1);
}

/* HEADER  */

.menu {
  background-color: transparent;
  -webkit-transition: background 0.3s 0s linear;
  -moz-transition: background 0.3s 0s linear;
  -o-transition: background 0.3s 0s linear;
  transition: background 0.3s 0s linear;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

.navbar {
  z-index: 5;
  width: 100%;
  padding: 1rem 0rem;
}

.nav-link {
  font-size: 18px;
  font-weight: 400;
  color: white !important;
  margin-right: .5rem !important;
  margin-left: .5rem !important;
  padding-bottom: 0px;
  position: relative;
  transition: linear 0.2s;
  padding: 8px 15px !important;
}

.nav-item .btn {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.nav-link::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  transition: .3s;
}

.nav-item:hover .nav-link::before,
.active .nav-link::before {
  content: "";
  opacity: 1;
}

/* Bs nav para el menú mobile */
.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  background-color: white !important;
  transition: .3s;
}

.bsnav-mobile .navbar {
  left: 0 !important;
  transform: translate3d(-300px, 0, 0) !important;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  background-color: #00A19A;
}

.bsnav-mobile .navbar .nav-link {
  color: #fff !important;
}

.bsnav-mobile.in .navbar {
  transform: translate3d(0px, 0, 0) !important;
}

.header-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #131313;
  z-index: 0;
  opacity: .5;
}

.brown-links {
  color: #432918 !important;
  transition: .3s;
}

.brown-links:hover::before,
.active .brown-links::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #432918;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  transition: .3s;
}

.blue-toggler,
.blue-toggler::before,
.blue-toggler::after {
  background-color: #F9B233 !important;
}

.nav-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.menu-overlay {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15) 30%, #051312);
  background: linear-gradient(0deg, transparent 0, rgba(0, 0, 0, 0.15) 30%, #051312);
  z-index: 2;
  opacity: .9;
}

.menu.bg-white .btn-outline-light {
  color: #432918;
  border-color: #432918;
}

/* MAIN */

.main-section {
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.main-video {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  z-index: -5;
}

/* Loteo */
.light-green {
  background-color: #F0FAF9;
}

.service-container {
  text-align: center;
}

.service-container .icon {
  border: 3px solid;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-color: currentColor;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 1rem !important;
  transition: .3s;
}

.service-container:hover .icon {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0.5rem 1rem !important;
  background-color: currentColor;
}

.service-container:hover .icon img {
  filter: brightness(0) invert(1);
}

.service-container .icon img {
  max-width: 85px;
  transition: .3s;
}

.service-container p {
  font-weight: 600;
  font-weight: 18px;
  margin-top: 20px;
}

/* Video */
.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container a {
  position: absolute;
  transition: .3s;
}

.video-container a:hover {
  transform: scale(1.1);
}

/* Caracteristicas */
.caracteristicas img {
  max-height: 550px;
  object-fit: contain;
}

.caracteristicas ul {
  list-style: none;
  padding-left: 0;
}

.caracteristicas ul li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.caracteristicas ul li i {
  color: #00A19A;
  margin-right: 8px;
  font-size: 20px;
}

.caracteristicas ul li p {
  margin-bottom: 0;
  font-size: 20px;
}

.badge {
  border-radius: 50px;
  font-size: 20px;
  text-transform: uppercase;
}

.text-badge {
  font-size: 20px;
}

/* Galeria */
.gallery .image-container a{
  background-color: #F9B233;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery .image-container img {
  transition: .3s;
}

.gallery .image-container:hover .photo {
  opacity: .7;
}

.gallery .image-container .plus {
  position: absolute;
  z-index: 3;
  opacity: 0;
  width: 60px;
  height: 60px;
}

.gallery .image-container:hover .plus {
  opacity: 1;
}

/* Ubicación */
.map-container iframe {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.interactive-map path {
  transition: .3s;
}

.interactive-map path:hover {
  opacity: .4;
}

.brujula {
  position: absolute;
  bottom: 90px;
  left: 50px;
}

/* Contacto */
.contact {
  background-image: url(../images/contacto-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.form-container .divider {
  width: 130px;
  height: 4px;
  background-color: #F9B233;
}

.contact form input,
.contact form textarea {
  font-weight: 300;
  font-size: 16px;
  color: #4329188c !important;
  background-color: white;
  border: 1px solid #4329188c;
  border-radius: 8px;
}

.contact form label {
  font-size: 12px;
  font-weight: 600;
  color: #B2A7A0;
  text-transform: uppercase;
}

.contact form input::-webkit-input-placeholder,
.contact form textarea::-webkit-input-placeholder {
  color: #4329188c !important;
}

.contact form input:-moz-placeholder,
.contact form textarea:-moz-placeholder {
  color: #4329188c !important;
}

.contact form input::-moz-placeholder .contacto form textarea::-moz-placeholder {
  color: #4329188c !important;
}

.contact form input:-ms-input-placeholder,
.contact form textarea:-ms-input-placeholder {
  color: #4329188c !important;
}

.contact .form-control:not(textarea) {
  height: calc(1.5em + 1rem + 2px);
}

.contact .form-control:focus {
  background-color: #fbfbfb;
  border-color: #F9B233;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(255 174 35);
}

/* FOOTER */
footer {
  background: #432918;
  padding: 65px 0px 100px 0px;
  position: relative;
}

footer a,
.contacto a {
  transition: .3s;
}

footer a:hover,
.contact-info a:hover {
  text-decoration: none;
  color: #F9B233 !important;
}

.footer-logo img {
  max-width: 200px;
}

.copyright {
  background-color: #341F11;
  position: absolute;
  bottom: 0;
  font-size: 14px;
}

.copy-logo {
  position: absolute;
  right: 0;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .nav-link {
    padding: 25px 0px;
  }

  .nav-item .btn {
    margin-top: 15px;
  }

  .caracteristicas ul li p {
    font-size: 18px;
  }

  .loteo {
    text-align: center;
  }
}

@media (max-width: 525px) {
  .service-container .icon {
    width: 135px;
    height: 135px;
  }

  .service-container .icon img {
    max-width: 65px;
  }

  .brujula {
    position: absolute;
    bottom: 60px;
    left: 30px;
  }

  footer {
    background-size: cover;
    padding: 50px 0px 100px 0px;
    text-align: center;
  }

  .copy-logo {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
  }

  .align-mobile {
    justify-content: center;
  }

}